*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border:none;
    text-decoration: none;
}
section{
    padding:2rem 9%;
}
.heading{
    text-align: center;
    padding: 2.5rem 0;
}
.heading span{
    font-size: 2.8rem;
    background: rgba(255, 165, 0, 0.2);
    color:#7a5026;
    border-radius: .5rem;
    padding:.2rem 1rem;
}
.heading span.space{
    background:none;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    background: #ff7f00;
    color:white;
    padding: .8rem 1.5rem;
    cursor: pointer;
    font-size:1.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}
.btn:hover{
    background:rgba(255,165,0,.2);
    color:white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);

}

header{
    position: fixed;
    top:0; left: 0; right:0;
    background:#302e2e;
    z-index:1000;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:1.5rem 9%;
    border-bottom: 2px solid #ccc;
}
header .logo{
    margin-left: -50px;
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(162, 147, 51);
}
header .logo span{
    color: rgb(225, 225, 59)
}
header .navbar a{
    font-family:sans-serif;
    color:aliceblue;
    font-size: 1.5rem;
    margin: 0 .8rem;
}
header .navbar a:hover{
    color:var(--orange);
}
header .icons i{
    font-size: 1.5rem;
    color: white;
    cursor:pointer;
    margin-right: 2rem;
}
header .icons i:hover{
    color:var(--orange);
}
header .search-bar-container{
  padding: absolute;
  top:100%; left: 0; right: 0;
  background: rgb(162, 147, 51);;
  padding: 1.5 rem 2rem;
  border-top: .1rem solid rgba(196, 156, 156, 0.2);
  display: flex;
  align-items: center;
  border-radius: .5rem;
}
header .search-bar-container #search-bar{
    width:100%;
    padding: 0.2rem;
    color: #333;
    font-size: 1.25rem;
    border-radius: .5rem;
}
header .search-bar-container label{
    font-size: 1.5rem; 
    color:white;
    margin-left: .5rem;
}
header .search-bar-container label:hover{
    color:var(--orange);
}
.home{
    min-height: 100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    z-index: 0;
}
.home .content{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    width:100%;
    
}
.home .content h3{
    font-size: 4.5rem;
    color: white;
    text-shadow: 1 .3rem .5rem rgba(0,0,0,.3);
    white-space: nowrap; /* Prevents text from breaking into multiple lines */
}
.home .content p{
    font-size: 2.2rem;
    color: white;
    padding: .7rem 0;
}
.home .video-container video{
    position: absolute;
    top:0; left:0;
    z-index: -1;
    height: 100%;
    width:100%;
    object-fit: cover;
     /* Ensures the video covers the container */
    object-position: center center; /* Focuses on the central part of the video */
    clip-path: inset(15% 0 15% 0); 
}
.popularplaces {
    padding: 2rem 9%;
    margin-top: -50px;
}
.popularplaces .heading{
    margin-bottom:60px;
}
.popularplaces .box-container{
    display: flex;
    flex-wrap:wrap;  /*wraps lines*/
    gap: 2rem;
}
.popularplaces .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2); 

}
.popularplaces .box-container .box img{
    height: 20rem;
    width:100%;
    object-fit:cover;
}
.popularplaces .box-container .box .content{
    padding: 1rem;
}
.popularplaces .box-container .box .content h3{
    font-size: 2rem;
    font-family: cursive;
    color:#333;
}
.popularplaces .box-container .box .content .stars{
    color: gold;
}
.popularplaces .box-container .box .content h3 i{
    color:#333;
}

.popularplaces .box-container .box .content p{
    font-size:1.5rem;
    color:#666;
    padding:1rem 0;
}
.footer{
    font-size: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
.pictures {
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
    justify-content: center;
    padding:2rem;
}
.pictures .boxg{
    width:300px;
    height:300px;
    flex: 1 1 calc(33.33% -1rem);
    max-width: 300px;
    border-radius: .5rem;
    overflow:hidden;
    box-shadow:  0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.pictures img {
    width: 100%; 
    height: auto; 
    display: block; 
    border-radius: .5rem; /* Smooth corners */
}

.log{
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(162, 147, 51);
    text-align:center;
}
.log span{
    color: rgb(225, 225, 59)
}